<div class="card text-centered">
  <div class="nametag">{{ dev_index.host_name.upper() }}</div>
  <div class="container tagtext">
      {% for device in devices %}
        {% if device.id == dev_index.id %}
        <div class="parent" style="background-color: unset;">
          <img class="img" src="{{ url_for('static', filename=device.platform_system | lower + '.svg') }}" />
          
          <div class="child">
            <div class="left">System: </div><div class="right"><i>{{ device.platform_system }}</i></div>
            <div class="left">System Location:</div><div class="right"><i>{{ device.platform_location }}</i></div>
            <div class="left">System SAS #:</div><div class="right"><i>{{ device.platform_cpu_sn }}</i></div>
            <div class="left">Jenkins Label:</div><div class="right"><i>{{ device.platform_label }}</i></div>
          </div>
        </div>

        <hr class="solid">

        <button class="dropdown-btn">BIOS Version: <i>{{ device.bios_version }}</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          <div class="list">
            <div class="row">
              <div id="left">BIOS Vendor:</div>
              <div id="right"><i>{{ device.bios_vendor }}</i></div>
            </div>
            <div class="row">
              <div id="left">BIOS Version:</div>
              <div id="right"><i>{{ device.bios_version }}</i></div>
            </div>
            <div class="row">
              <div id="left">BIOS Release Date:</div>
              <div id="right"><i>{{ device.bios_release_date }}</i></div>
            </div>
          </div>
        </div>

        <button class="dropdown-btn">Kernel: <i>{{ device.platform_release }}</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown"> 
          <div class="list">
            <div class="row">
              <div id="left">Kernel:</div>
              <div id="right"><i>{{ device.platform_version }}</i></div>
            </div>
            <div class="row">
              <div id="left">Release:</div>
              <div id="right"><i>{{ device.platform_release }}</i></div>
            </div>
            <div class="row">
              <div id="left">Architecture:</div>
              <div id="right"><i>{{ device.platform_machine }}</i></div>
            </div>
          </div>
        </div>

        <button class="dropdown-btn">CPU Core/Threads: <i>{{ device.cpu_physical_core_count }}/{{ device.cpu_logical_core_count }}</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          <div class="list">
            <div class="row"><div id="left">CPU Vendor:</div> <div id="right"><i>{{ device.cpu_vendor_id }}</i></div></div>
            <div class="row"><div id="left">CPU Brand:</div> <div id="right"><i>{{ device.cpu_brand }}</i></div></div>
            <div class="row"><div id="left">CPU Arch:</div> <div id="right"><i>{{ device.cpu_arch }}</i></div></div>
            <div class="row"><div id="left">CPU Hz:</div> <div id="right"><i>{{ device.cpu_hz_advertised }}</i></div></div>
            <div class="row"><div id="left">CPU Actual Hz:</div> <div id="right"><i>{{ device.cpu_hz_actual }}</i></div></div>
            <div class="row"><div id="left">CPU Stepping:</div> <div id="right"><i>{{ device.cpu_stepping }}</i></div></div>
            <div class="row"><div id="left">CPU Model:</div> <div id="right"><i>{{ device.cpu_model }}</i></div></div>
            <div class="row"><div id="left">CPU Family:</div> <div id="right"><i>{{ device.cpu_family }}</i></div></div>
            <div class="row"><div id="left">CPU Physical Cores:</div> <div id="right"><i>{{ device.cpu_physical_core_count }}</i></div></div>
            <div class="row"><div id="left">CPU All Cores:</div> <div id="right"><i>{{ device.cpu_logical_core_count }}</i></div></div>
            <div class="row"><div id="left">CPU Microcode:</div><div id="right"><i>{{ device.cpu_microcode }}</i></div></div>
          </div>
        </div>
        
        <button class="dropdown-btn">Memory Utilization: <i>{{ device.installed_memory_percent }}%</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          <div class="list">
            {% if device.installed_memory_free  %}
            <div class="row"><div id="left">Memory Free:</div> <div id="right"><i>{{ device.installed_memory_free | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.installed_memory_used %}
            <div class="row"><div id="left">Memory Used: </div> <div id="right"><i>{{ device.installed_memory_used | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.installed_memory_available %}
            <div class="row"><div id="left">Memory Available: </div> <div id="right"><i>{{ device.installed_memory_available | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.installed_memory_total %}
            <div class="row"><div id="left">Memory Total: </div> <div id="right"><i>{{ device.installed_memory_total | filesizeformat(true) }}</i></div></div>
            {% endif %}
          </div>
        </div>

        <button class="dropdown-btn">Swap Utilization: <i>{{ device.swap_memory_percent }}%</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          <div class="list">
            {% if  device.swap_memory_free %}
            <div class="row"><div id="left">Swap Free:</div><div id="right"><i>{{ device.swap_memory_free | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.swap_memory_used %}
            <div class="row"><div id="left">Swap Used:</div><div id="right"><i>{{ device.swap_memory_used | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.swap_memory_total %}
            <div class="row"><div id="left">Swap Total:</div><div id="right"><i>{{ device.swap_memory_total | filesizeformat(true) }}</i></div></div>
            {% endif %}
          </div>
        </div>

        <button class="dropdown-btn">GPU:
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          <div class="list">
            <div class="row"><div id="center"><i>{{ device.gpu }}</i></div></div>
          </div>
        </div>

        <button class="dropdown-btn">Disk Utilization: <i>{{ device.disk_usage_percent }}%</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown"> 
          <!-- 843 533 197 312 -->
          <div class="list">
            {% if  device.disk_usage_free %}
            <div class="row"><div id="left">Disk Utilization Free:</div><div id="right"><i>{{ device.disk_usage_free | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.disk_usage_used %}
            <div class="row"><div id="left">Disk Utilization Used:</div><div id="right"><i>{{ device.disk_usage_used | filesizeformat(true) }}</i></div></div>
            {% endif %}{% if  device.disk_usage_total %}
            <div class="row"><div id="left">Disk Utilization Total:</div><div id="right"><i>{{ device.disk_usage_total | filesizeformat(true) }}</i></div></div>
            {% endif %}
          </div>
        </div>



        <button class="dropdown-btn">Mount: <i>{{ disks | count }}</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
                
          {% for disk in disks %}
            {% if disk.disk_id == dev_index.id %}
              {% if 'loop' not in disk.disk_dev %}
                <div class="list">
                  <div class="row"><div id="left">Mount Point:</div><div id="right"><i>{{ disk.disk_dev }}</i></div></div>
                  <div class="row"><div id="left">Mount:</div><div id="right"><i>{{ disk.disk_mount }}</i></div></div>
                  <div class="row"><div id="left">Filesystem:</div><div id="right"><i>{{ disk.disk_filesystem }}</i></div></div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>





        <button class="dropdown-btn">Networks: {{ networks | count }}
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          {% for network in networks %}
          {% if network.network_id == dev_index.id %}
          <div class="list">
            <div class="row"><div id="left">Name:</div><div id="right"><i>{{ network.network_name }}</i><br></div></div>
            <div class="row"><div id="left">State:</div><div id="right"><i>{{ network.network_state }}</i><br></div></div>
            {% if network.network_ipv4 not in  [None, 'None', ' '] %}
            <div class="row"><div id="left">IPv4:</div><div id="right"><i>{{ network.network_ipv4 }}</i><br></div></div>
            {% endif %}
            {% if network.network_ipv6 not in  ['None', ''] %}
            <div class="row"><div id="left">IPv6:</div><div id="right"><i>{{ network.network_ipv6 }}</i><br></div></div>
            {% endif %}
            <div class="row"><div id="left">MAC:</div><div id="right"><i>{{ network.network_mac }}</i><br></div></div>
          </div>
          {% endif %}
          {% endfor %}
        </div>




        <button class="dropdown-btn">Peripheral: <i>{{ peripherals | count }}</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          {% for peripheral in peripherals %}
            <div class="list">
              <div class="row"><div id="left">Name:</div><div id="right"><i>{{ peripheral.peripheral_tag }}</i></div></div>
              <div class="row"><div id="left">Id:</div><div id="right"><i>{{ peripheral.peripheral_device_id }}</i></div></div>
              <div class="row"><div id="left">Location:</div><div id="right"><i>{{ peripheral.peripheral_device }}</i></div></div>
            </div>
          {% endfor %}
        </div>



        <button class="dropdown-btn">Users: <i>{{ sys_users | count }}</i>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown">
          {% for user in sys_users %}
            <div class="list">
              <div class="row"><div id="left">Name:</div><div id="right"><i>{{ user.user_name }}</i></div></div>
              <div class="row"><div id="left">Terminal:</div><div id="right"><i>{{ user.user_terminal }}</i></div></div>
              <div class="row"><div id="left">Host IP:</div><div id="right"><i>{{ user.user_host_ip }}</i></div></div>
              <div class="row"><div id="left">Login Time:</div><div id="right"><i>{{ user.user_time_login }}</i></div></div>
              <div class="row"><div id="left">Idle Time:</div><div id="right"><i>{{ user.user_time_idle }}</i></div></div>
              <!-- <div class="row"><div id="left">PID:</div><div id="right"><i>{{ user.user_pid }}</i></div></div> -->
            </div>
          {% endfor %}
        </div>


        

        
        <!-- UP TIME TAG  -->
        <div id="single-line">
          <div class="left">Uptime:</div><div class="right"><i>{{ device.uptime }}</i></div>
        </div>
        
        <div class="_timestamp">LastUpdated: {{ dev_index.last_seen }}</div>
        {% for item in timestamp %}
          {% if item.id == device.id %}
            <div class="_info">ID:  {{ item.id }}</div>
            <div class="_info">Last Report: {{ item.offset }} seconds</div>
          {% endif %}

        {% endfor %}
        {% endif %}
      {% endfor %}
      

  </div>
</div>