{% extends "base.html" %}

{% block content %}
<h1 class="title">MESA CI Available Platforms</h1>
<h2 class="subtitle">
  List Available platforms

  <div id="platform" class="dynamic grid">
  {% for dev_index in device_index %}
    
  {% include 'main/grid.html' %}
    
    
    
    {% endfor %}
  </div>



  
  
</div>

</h2>
{% endblock %}