<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="generator" content="Bootstrap Listr">
  <title>File Share</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/listr.pack.css')}}">

  <body dir="ltr">

    <div class="container">
      {% block content %} {% endblock %}
    </div>

  </body> 
</html>