{% extends 'base.html' %}

{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" dir="ltr">
            <li class="breadcrumb-item"><a href="{{url_for('path_view')}}"><i class="fa fa-fw fa-home fa-lg"></i> </a></li>
            {% for part in path.strip('/').split('/') %}
            <li class="breadcrumb-item"><a href="{{url_for('path_view', p='/'+path[:path.find(part)+part|length]+'/')}}"><strong>{{ part }}</strong></a></li>
            {% endfor %}
        </ol>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-sm-offset-7 col-md-offset-8 pull-sm-right">
        <!-- <div class="form-group">
            <label class="form-control-label sr-only" for="listr-search">Search</label>
            <input type="text" id="listr-search" class="form-control" placeholder="Search">
        </div> -->
      </div>
      <div class="pull-sm-right">
      </div>
    </div>
    <div class="table-responsive">
      <table id="listr-table" class="table table-hover">
        <thead>
          <tr>
            <th class="text-xs-left " data-sort="string">Name</th>
            <th class="text-xs-right " data-sort="int">Size</th>
            <th class="text-xs-right " data-sort="int">Modified</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">
                <small class="pull-xs-left text-muted" dir="ltr">{{total.dir}} folders and {{total.file}} files, {{total.size | size_format}} in total</small>
            </td>
          </tr>
        </tfoot>
        <tbody>
          {% for entry in contents if entry.type == 'dir' %}
          <tr>
              <td class="text-xs-left " data-sort-value="dir-{{entry.name | lower}}"><i class="fa fa-fw fa-folder " aria-hidden="true"></i>&nbsp;<a href="{{entry.name}}/" ><strong>{{entry.name}}</strong></a></td>
            <td class="text-xs-right " data-sort-value="-1">&mdash;</td>
            <td class="text-xs-right " data-sort-value="{{entry.mtime}}" title="{{entry.mtime | time_format}}">{{entry.mtime | humanize}}</td>
          </tr>
          {% endfor %}
          {% for entry in contents if entry.type == 'file' %}
          <tr>
              <td class="text-xs-left " data-sort-value="file-{{entry.name | lower}}"><i class="fa fa-fw {{entry.name | icon_format}} " aria-hidden="true"></i>&nbsp;
              <a {% if entry.name | data_format not in ['unknown', 'archive'] %} data-toggle="modal" data-target="#viewer-modal" data-type="{{entry.name | data_format}}" {% endif %} href="{{entry.name}}" data-size="{{entry.size | size_format}}">{{entry.name}}</a>
              </td>
              <td class="text-xs-right " data-sort-value="{{entry.size}}" title="{{entry.size}} bytes">{{entry.size | size_format}}</td>
              <td class="text-xs-right " data-sort-value="{{entry.mtime}}" title="{{entry.mtime | time_format}}">{{entry.mtime | humanize}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" aria-labelledby="file-name" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-xs-right" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-left" id="file-name">&nbsp;</h4>
            <small class="text-muted" id="file-meta"></small>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <div class="pull-xs-left">
              <button type="button" class="btn btn-link highlight hidden-xs-up">Apply syntax highlighting</button>
            </div>
            <div class="pull-xs-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              <div class="btn-group">
                <a href="#" class="btn btn-primary fullview" download>Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="uploader-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <form id="upload-files" method="post" enctype="multipart/form-data">
                <input type="file" name="files[]" id="filer_input" multiple="multiple">
            </form>
          </div>
          <div class="modal-footer">
            <div class="pull-xs-right">
              <button type="button" id="close-uploader" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
    {% endblock %}